* {
	box-sizing: border-box;
}

body {
	background: rgb(0, 0, 0);
	margin: 0;
}

.canvas {
	max-width: 900px;
	height: 550px;
	margin: 100px auto;
	background: rgb(209, 196, 185);
	position: relative;
	z-index: -3;
}
