:root {
	--size-1: 110px;
	--size-2: 95px;
	--size-3: 50px;
	--size-4: 20px;
	--spacing: 2em;
  }
  
  body {
	padding: var(--spacing);
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	min-height: 200vh;
	font: 30px/1;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
  }
  
  #narrative {
	font-size: 150%;
	position: relative;
	text-align: left;
	max-width: 1350px;
	margin-bottom: 20px;
  }
  
  ul {
	list-style: none;
	padding: 0;
	margin: 0;
  }
  
  li {
	padding: 4px;
	transition: font-size 0.5s ease-in-out;
  }
  
  li.item-1 {
	font-size: var(--size-1);
	font-weight: bold;
	}
	
	li.item-1:hover {
	font-size: calc(var(--size-1) * 1.1);
	}
	
	  
	li.item-2 {
	font-size: var(--size-2);
	}
	  
	li.item-2:hover {
	font-size: calc(var(--size-2) * 1.2);
	}
	
	li.item-3 {
	font-size: var(--size-3);
	}
	
	li.item-3:hover {
	font-size: calc(var(--size-3) * 1.5);
	}
	  
	li.item-4 {
	font-size: var(--size-4);
	font-weight: lighter;
	}
	
	li.item-4:hover {
	font-size: calc(var(--size-4) * 1.5);
	}
	  
	li:hover {
	font-size: calc(var(--size-4) * 1.5);
	  }
  