:root {
	--size-1: 25px;
	--spacing: 2em;
}

/* html {
	cursor: none;
} */

body {
	padding: var(--spacing);
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	min-height: 100vh;
	font: 30px/1;
	font-family: Arial, Helvetica, sans-serif;
}

#narrative {
	font-size: 150%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: left;
  }
  
#subject {
	color: rgb(144, 143, 143);
}

@media (max-width: 414px){

#narrative{
padding-top:300px;
font-size: 18px;
}

a:link {
	color: rgb(144, 143, 143);
	background-color: transparent;
	text-decoration: none;
  }
  
  }