svg {
	display: block;
	width: 100%;
	height: auto;
}

@keyframes wave {
	0% {
		transform: translateX(-8%);
	}

	100% {
		transform: translateX(0%);
	}
}

.wave-container {
	display: block;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

.wave-container path {
	animation: wave 1.5s linear infinite;
}
