:root {
	--spacing: 2em;
}

body {
	font-family: neue-kabel;
	padding: var(--spacing);
	padding-bottom: 15vh;
	color: rgb(255, 255, 255);
	background-color: black;
	text-shadow: 1px 1px 20px #000000;
}

.title {
	position:fixed
}

#mom { 
	font-size: 900%; 
	letter-spacing:2px;
	line-height: .8;
	font-weight: bold;
	color:rgb(255, 255, 255)
}

#mem { 
	font-size: 200%;
	font-weight: normal; 
	letter-spacing: 13.5px;
	color:rgb(255, 255, 255)
}

.wrapper {
	display: flex;
	width: 50%;
	margin: 0 auto;
}

#pdesc {
	font-size: 210%;
	position: fixed;
	bottom: 1px;
	color:rgb(255, 255, 255);
	width: 600px;
	/* padding-top:50px;
	border-width:1px;
	padding-left:3px; */
	padding-bottom:10px;
}

/* font-size: 130%;
position: fixed;
bottom: 20px;
left: 20px;
color:rgb(255, 255, 255) */

.pic1 {
position: absolute;
width: auto;
max-height: 10%;
top: -10px;
right: 0;
transform: rotate(-20deg);
z-index: -1;
}

.pic2 {
position: absolute;
width: auto;
max-height: 20%;
max-width: 20%;
top: 40px;
right: 30px;
transform: rotate(10deg);
z-index: -1;
}

.pic3 {
position: absolute;
width: auto;
max-height: 20%;
max-width: 20%;
top: 900px;
right: 400px;
transform: rotate(20deg);
z-index: -1;
}

@media (max-width: 414px){

	:root {
		--spacing: 1em;
	}

	body {
		padding-bottom: 100vh;
	}

	.title {
		position:fixed
	}

	#mom { 
		font-size: 700%;
		max-width: 100%;
	}
	
	#mem { 
		font-size: 200%;
		letter-spacing:7px;
	}

	#pdesc {
		font-size: 1.2rem;
		max-width: 350px;
		padding-bottom: 2vh;
	}

	.pic1 {
		top: 260px;
		}

	.pic2 {
		top:180px;
		min-width: 150px;
	}
	.pic3 {
		top:490px;
		left:40px;
		min-width: 80px;
		transform: rotate(-5deg);
	}
} 
