ul {
	padding-top: 15vh;
	display: grid;
	gap: calc(2 * var(--spacing));
	margin-top: calc(4 * var(--spacing));
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(auto);
}

li:first-child {
	grid-column: 2 / span 2;
  grid-row: 3 / span 2;
}

li:fourth-child {
	grid-column: 2 / span 2;
  grid-row: 3 / span 3;
}