:root {
	--spacing: 2em;
}

body {
	font-family: neue-kabel;
	padding: var(--spacing);
	padding-bottom: 10vh;
	color: rgb(255, 255, 255);
	background-color: black;
}

.title {
	position:fixed;
	z-index: 1;
}

#pdesc {
	font-size: 130%;
	position: fixed;
	bottom: 20px;
	left: 20px;
	color:rgb(255, 255, 255)
}

#mom { 
	font-size: 900%; 
	letter-spacing:2px;
	line-height: .8;
	font-weight: bold;
	color:rgb(255, 255, 255)
}

#mem { 
	font-size: 200%;
	font-weight: normal; 
	letter-spacing: 13.5px;
	color:rgb(255, 255, 255)
}

h2 {
	font-size: 125%;
	font-weight: normal;
	letter-spacing: 2px;
}

aside { 
	margin-bottom: calc(4 * var(--spacing));
 }

em { 
	font-size: 2vw;
}

/* doesn't work lol */
#category {
	font-style: italic;
}

/* sticker info */
li {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: var(--spacing);
}

img{
	opacity:1;
}

li:hover img{
	opacity:0.3;
}

.words {
	position: absolute;
	font-size: 120%;
	opacity: 0;
	text-align: left;
}

li:hover .words {
	opacity: 1;
	color:rgb(4, 255, 213);
}

@media (max-width: 375px) {

	:root {
		--spacing: 1em;
	}

	body {
		padding-bottom: 20vh;
	}

	#mom { 
		font-size: 700%;
		max-width: 100%;
	}
	
	#mem { 
		font-size: 200%;
		letter-spacing:7px;
	}

	#pdesc {
		font-size: 85%;
	}
}