/* Just to make the demo easier to work with. */

:root {
	--spacing: 1em;
}

body {
	font-family: neue-kabel;
	padding: var(--spacing);
	padding-bottom: 15vh;
	color: rgb(247, 9, 9);
	background-color: black;
}

.title {
	position:fixed;
	z-index: 1;
}

#pdesc {
	font-size: 130%;
	position: fixed;
	bottom: 20px;
	left: 20px;
	color:rgb(255, 255, 255)
}

#mom { 
	font-size: 900%; 
	letter-spacing:2px;
	line-height: .8;
	font-weight: bold;
	color:rgb(255, 255, 255)
}

#mem { 
	font-size: 200%;
	font-weight: normal; 
	letter-spacing: 14px;
	color:rgb(255, 255, 255)
}

h2 {
	font-size: 125%;
	font-weight: normal;
	letter-spacing: 2px;
}

aside { 
	margin-bottom: calc(4 * var(--spacing));
 }

em { 
	font-style: italic 
}

ul {
	padding-top: 15vh;
	display: grid;
	gap: calc(2 * var(--spacing));
	margin-top: calc(4 * var(--spacing));
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(auto);
}

li:first-child {
	grid-column: 2 / span 2;
  grid-row: 3 / span 2;
}

li:fourth-child {
	grid-column: 2 / span 2;
  grid-row: 3 / span 2;
}

li {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: var(--spacing);
}

img{
	opacity:1;
}

li:hover img{
	opacity:0
}

.words {
	position: absolute;
	font-size: 120%;
	opacity: 0;
	top: 0;
	text-align: left;
}

li:hover .words {
	opacity: 1;
	color:rgb(4, 255, 213);
}

/* .faded { opacity: 0.333 } */