@keyframes jiggle {
    0% {
        transform: rotate(0);
    }
    20% {
        transform: rotate(-6deg);
    }
    40% {
        transform: rotate(6deg);
    }
    60% {
        transform: rotate(-3deg);
    }
    80% {
        transform: rotate(3deg);
    }
    100% {
        transform: rotate(0);
    }
}

:root {
    --color: #fdf0d2;
}


body {
    background-color: rgb(255, 98, 66);
    color: var(--color);
    font-family: sans-serif;
    font-size: 30px;
}

main {
    max-width: 90%;
    margin: 40px auto;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 6px solid currentColor;
    padding: 20px;
}

nav {
    padding: 30px;
    display: flex;
    gap: 20px;
}

.filter-button {
    border: 3px solid currentColor;
    padding: 10px 20px;
    cursor: pointer;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    gap: 20px;
}

.grid-item {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.is-hidden {
    display: none;
}

.jiggle {
    animation-name: jiggle;
    animation-duration: 1.2s;
    animation-fill-mode: both;
}