@font-face {
    font-family: 'Wremena';
    src: url('Wremena.woff2') format('woff2'),
        url('Wremena.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Wremena';
    src: url('Wremena-Bold.woff2') format('woff2'),
        url('Wremena-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Wremena';
    src: url('Wremena-Light.woff2') format('woff2'),
        url('Wremena-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

